body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: #fff9f5;
}

header {
    text-align: center;
    padding: 20px;
    background: #ff914d;
    color: white;
}

input {
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #000;
    color: white;
    border: none;
    border-radius: 5px;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 20px;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.card img {
    width: 100%;
    border-radius: 10px;
}
.card button {
    margin-top: 10px;
    background: #ff914d;
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.modal-content {
    background: white;
    margin: 5% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}

.close {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}
